	 <div class="table-right-1">
		      <div></div>
		      {% if page_obj.has_previous %} <a class="table-button paginator-lijevo" href="{{adresa}}?page={{page_obj.previous_page_number}}">Prethodna</a> {% endif %}

		      {% for i in page_obj.digg_page_range %}
			 {% if not i %}<div class="pagination-dots">...</div>{% else %}<a class="page-number {% if i == page_obj.number %} page-selected {% endif %}" href="{{adresa}}?page={{i}}" >{{i}}</a>{% endif %}
		      {% endfor %}
		      {% if page_obj.has_next %} <a class="table-button paginator-desno" href="{{adresa}}?page={{page_obj.next_page_number}}">Sljedeća</a> {% endif %}

         </div>

