<table class="data-table">      	   		  
      <caption> Tickets  (str. {{ page_obj.number }} / {{ paginator.num_pages }})</caption>

      <thead>
        <tr>
           <th>Kreirao</th>
           <th>Naslov</th>
           <th>Vrijeme</th>
 	   <th>Status</th>           
        </tr>
      </thead>

	 <tbody>

	{% for i in object_list %}
		<tr class="{% cycle 'odd' 'even' %}">
		<td>{{i.autor.get_full_name}}</td>
		<td>{{i.naslov}}</td>
		<td>{{i.created}}</td>
		<td>{{i.get_status}}</td>
		</tr>
                <tr><td colspan=4 style="padding-left: 50px;">{{i.sadrzaj}}</td></tr>
        {% endfor %}       
                       
        </tbody>

	 {% url sysapp.ticket.list as url %}
	 {% include "paginator.html" with adresa=url %}

</table>
