{% include "nabava/nabavaitem_header.html" %}

<style>
label.test {
    color: red;
}
textarea.zab {
    width: 100%;
}
</style>

<div class="clear space-2x"></div>

<div>
           
<form method="post" action="{% url nabava.one.list nabava.id %}">	
      <table class="dt2">
            
      <thead>
        <tr>
	   <th>Zabilježba</th>
	   <th></th>
        </tr>
      </thead>

	 <tbody>	
  			<td style="padding:10px; width:90%">
                <input style="background: rgba(255, 255, 255, 0); width: 100%; border: 0px; padding: 0px;" name="zabiljezba" autofocus="autofocus" type="text" id="zabiljezba" value="{{ nabava.zabiljezba|default:"" }}"/></td>
			<td style="padding:10px;"><input type="image" src="/static/img/devel/tick2.png" alt="Submit" style="border-style: none;"/></td>
                      
        </tbody>
      </table>
	</form>

</div>

<table class="data-table">      	   		  
    <caption> Pregled narudžbe {{ nabava.id }} - {{ nabava.konto.name }} - {{ nabava.created }} (str. {{ page_obj.number }} / {{ paginator.num_pages }})</caption>

      <thead>
        <tr>
           <th>Količina</th>
           <th>Pakiranje</th>
           <th>Artikal</th>
           <th>Tržište</th>
           <th>Dobavljač</th>
        </tr>
      </thead>

	 <tbody>

	 {% for i in object_list %}
		<tr class="{% cycle 'odd' 'even' %}">
        <td>{{i.artikal__kolicina__sum|floatformat:"0"}}</td>
   		<td>x{{i.artikal__std_kolicina|floatformat:"0"|default:""}}{{i.artikal__jedinice|default:""}}</td>
		<td><a href="{% url nabava.item.list i.nabava_id i.artikal__ime i.artikal__trziste__naziv i.artikal__std_kolicina i.artikal__jedinice %}">
			{{i.artikal__ime}}
		</a></td> 		
   		<td>{{i.artikal__trziste__naziv}}</td>
   		<td>{{i.artikal__kratica_dobavljaca|default:""}}</td>
		</tr>
     {% endfor %}       
                       
     </tbody>

	 {% url nabava.one.list nabava.id as url %}
	 {% include "paginator.html" with adresa=url %}

</table>
