      <script type="text/javascript">
          lastSearchUrl="{{lastSearchUrl}}";
      </script>
      
      <caption>Rezultati pretrage (str. {{ page_obj.number }} / {{ paginator.num_pages }}) </caption>

      <thead>
        <tr>
           <th>Ime</th>
           <th>Količina</th>
           <th>Jedinice</th>
           <th>Nabavna</th>
           <th>Veleprodajna</th>
           <th>Maloprodajna</th>
           <th>ATC kod</th>
           <th>Dobavljač</th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
        </tr>
      </thead>

	 <tbody>

	{% for i in object_list %}
		<tr id="lijekovi-stavak-{{i.id}}" class="{% cycle 'odd' 'even' %}">
			<td><a href="{% url meds.view i.id %}" {% if i.verkehrskz == 11 %} style="text-decoration:line-through;" {% endif %}>{{i.name}}</a></td>
			<td>{{i.kolicina}} </td>
			<td>{{i.jedinice}}</td>
			<td style="text-align: right;">{{i.ApoEk|addpoint}} &#8364;</td>
			<td style="text-align: right;">{{i.cijena_s_marzom_vp}} &#8364;</td>
			<td style="text-align: center;">{{i.cijena_s_marzom}} &#8364; ({{i.cijena_s_marzom|eur2hrk}}kn)</td>
			<td>{{i.ATCCode}}</td>
			<td>{{i.kratica_dobavljaca}}</td>
		 	<td>{% if i.ApoKz == 1 %} <img src="/static/img/recept4.png" /> {% endif %}</td>
		 	<td>{% if i.BtmFl %} <img src="/static/img/opijat.png" /> {% endif %}</td>
		 	<td>{% if i.VeterinaerFl %} <img src="/static/img/dog2.png" /> {% endif %}</td>
		 	<td>{% if i.verkehrskz == 1 %} <img src="/static/img/icon_av.png" style="width:24px;"/> {% endif %}</td>
		</tr>
        {% endfor %}       

