 <div class="insideTabs">
    <ul class="insideTabsMenu">
         <li><a href="{% url meds.search.form %}">Njemačko tržište</a></li>
         <li><a href="{% url meds.search.drugotrziste.form %}">Ostala tržišta</a></li>
         <li><a href="{% url meds.search.advanced %}">Napredna pretraga</a></li>
         <li><a href="{% url depo.zahtjev.izdavanje %}">Depo</a></li>
         <li><a href="{% url meds.abda.search.form %}" tab='2' >ABDA pretraga</a></li>
         <li><a href="{% url meds.abda.stoff.search.form %}" tab='2' >Traži sastojak</a></li>
    </ul>
    <div class="insideTabsMenuArrow"></div>
</div>
<div class="clear space-2x"></div>

