<table class="data-table" id="posiljka_dodavanje_prikaz">

    <caption>Artikli</caption>
      <thead>
        <tr>
           <th>ID</th>
	   <th>Naziv</th>
           <th>Cijena</th>
           <th>Staro stanje</th>
           <th>Naručuje se</th>
           <th>Ukupni iznos</th>
           <th>Zadužio</th>
           <th>Depo</th>
           <th></th>

        </tr>
      </thead>

	 <tbody>
 	{% for i in posiljka.lijekovi.all %}
	<tr>
	  <td class="posiljka_lijek_id">{{i.lijek_id}}</td>
	  <td>{{i.lijek.naziv}}</td>
	  <td>{{i.lijek.cijena}} &euro;</td>
	  <td>{{i.lijek.stanje}}</td>
	  <td class="editable" lijek_id="{{i.id}}">{{i.kolicina}}</td>
	  <td>{{i.ukupno}} &euro;</td>
	  <td>{{user.get_full_name}}</td>
	  <td>{{i.lijek.depo.naziv}}</td>
	  <td><a href="/ajax/paket/kosarica/izbrisi/{{posiljka.id}}/{{i.lijek_id}}">Izbriši</a></td>
	</tr>
	{% endfor %}	                 
	
	<tr><td></td><td></td><td></td><td></td><td><strong>{{posiljka.broj_artikala}}</strong></td><td><strong>{{posiljka.vrijednost}} &euro;</strong></td><td></td><td></td><td></td></tr>
        </tbody>
	

</table>

<script type="text/javascript">

$('#posiljka_dodavanje_prikaz a').bind('click', function(event) {
   event.preventDefault(); 
   $.ajax($(this).attr('href')).done(function(){reload_container();});
});


$('#posiljka_dodavanje_prikaz .editable').bind('click', function(event) {
   if(! $(this).hasClass('editable')) return;
   kolicina = $(this).html();
   lijek_id=$(this).attr('lijek_id');
   $(this).html('').removeClass('editable');
   novi = $('<input type="text" name="bla" value="' + kolicina + '" />');
   $(this).append(novi);
   $(novi).focus().blur(function(event){ 
		stanje=$(this).val(); 
		$.ajax('/ajax/paket/kosarica/azuriraj/'+lijek_id+'/'+ stanje).done(function(){reload_container();});
		$(this).parent().html(stanje).addClass('editable'); });
});


</script>
