<div class="clear space-1x"></div>

<table class="data-table" id="posiljka_prikaz">

    <caption>Na stanju ima {{paginator.count}} lijekova</caption>
      <thead>
        <tr>
      	   <th>Šifra</th>
           <th>Uneseno</th>
           <th>Izmijenjeno</th>
           <th>Status</th>
           <th>Ime lijeka</th>
        </tr>
      </thead>

	 <tbody>
	
   	{% for i in object_list %}
  	<tr {% if i.status %}style='opacity:.50;'{%endif%}>
  	  <td><a href="{% url depo.posiljka.kutija.events i.id %}">{{i.id}}</a></td>
  	  <td>{{i.created}}</td>
  	  <td>{{i.modified}}</td>
  	  <td>{{i.ime_statusa}}</td>
  	  <td>{{i.lijek.lijek.naziv}}</td>
  	</tr>
  	{% endfor %}	                 
	
	
  </tbody>
	
	{% url depo.stanje.ukupno as url %}
	{% include "paginator.html" with adresa=url %}

</table>
