<div>
<a id="ispisi-nevezani" class="nohijack" href="javascript:izdaj_nevezan_fiskalni();$('#ispisi-nevezani').removeAttr('href');show_meds_search();" ><img src="/static/img/devel/push-button3.png" style="margin-left:240px; margin-top:15px; width:128px; opacity:0.85; float:left;"/></a>

<!-- <p style="font-size: 30px; color: lightgrey; margin-left: 400px;">Kliknite na pisač</p> -->
<img src="/static/img/rukaimis.png" style="float:right; margin-top:300px; margin-right:-15px;"/>
<img src="/static/img/dots.png" style="float:right; margin-top:10px; margin-right:15px;"/>
</div>
<script type="text/javascript">

</script>
