 <div class="content-66-left-wrapper" style="border: none;">
<img src="/static/img/devel/checkout2.png" style="float: left; margin-bottom: -20px; margin-left: 15px; width: 64px;" />
  <h3> Obračun na dan {{dan}}.{{mjesec}}.{{godina}}</h3>
  <div class="content-wrapper">

        <table class="dt2">
          <thead>
            <tr>
               <th>Djelatnik</th>           
               <th>Broj računa</th>
               <th>Iznos (kn)</th>
            </tr>
           </thead>

           <tbody>

           {% for i in object_list %}        
             <tr class="{% cycle 'odd' 'even' %}">   
               <td>{{i.get_full_name}}</td>                    
               <td>{{i.broj}}</td>
               <td>{{i.iznos}} kn</td>
             </tr>     
           {% endfor %}
           </tbody>
         </table>

  </div>

 </div>


<div class="content-30-right-wrapper" style="border: none;">
      <div class="content-wrapper">
           
<form method="post" action="{% url fiskalizacija.obracun %}"> 

      <img src="/static/img/devel/calendar.png" style="float: left; margin-bottom: -40px; margin-top: -20px; margin-left: -50px; width:88px;" />
      <table class="dt2">
         <tbody>        
  <tr><td>Dan</td>
  <td><input type="number" name="dan" value="{{dan}}"></td></tr>
  <tr><td>Mjesec</td>
  <td><input type="number" name="mjesec" value="{{mjesec}}"></td></tr>
  <tr><td>Godina</td>
  <td><input type="number" name="godina" value="{{godina}}"></td></tr>
  <tr><td></td><td><input type="submit" value="Pregledaj" class="table-button"></td></tr>
                      
        </tbody>
      </table>
        </form>
	</div>

</div>


<div class="clear space-2x"></div>

