{% extends "admin/base/body_content.html" %}

{% block main_content %}

    <div class="frontpage">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ažuriranje lijekova</h3>
            </div>
            <div class="panel-body">
                <a href="/administrator/meds/njemacka/" class="btn btn-primary">Njemačko tržište</a>
                <a href="/administrator/meds/ostala_trzista/" class="btn btn-primary">Ostala tržišta</a>
                <a href="/administrator/meds/depo/" class="btn btn-primary">Depo</a>
                <a href="/administrator/meds/trzista/" class="btn btn-primary" style="margin-left: 30px;">Tržišta</a>
                <a href="/administrator/meds/konta/" class="btn btn-primary" style="margin-left: 30px;">Konta</a>
            </div>
        </div>
    </div>

{% endblock %}
